*
{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
/* Style for the sidebar and container */
.wrapper {
  display: flex; /* Use flexbox */
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Enable scrolling for the entire content */
}

.sidebar
{
  width: 89px;
  height: 100vh;
  background-color: #4F5DFC;
  /* border-radius: 20px; */
  /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  overflow:auto;
}

.justice-side-logo
{
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  list-style: none;
  padding: 0;
}

.link-list li {
  display: block;
  margin-bottom: 20px; 
}

.link-list li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white; /* Text color */
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.link-list li a:hover {
  background-color:#4F5DFC; 
  transform: scale(1.05); 
  color: #ffffff; 
}

#chat-img
{
  border-radius: 10px;
  background-color: gray;
  padding: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#chat-img:hover {
  background-color: darkgray;
  transform: scale(1.05);
}

.container {
  flex: 1; 
  padding: 20px;
  position: relative;
  overflow-y: auto;
}


.container p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin:0 auto;
  padding: 30px;
  text-align: justify;
  width: 800px;
  background: linear-gradient(180deg, #000 -42.55%, rgba(0, 0, 0, 0.00) 152.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.5px;
  font-family: 'Roboto', sans-serif;
}

#tag-line
{
position: absolute;
left: 22%;
top: 68%;
color: rgba(0, 0, 0, 0.86);
font-feature-settings: 'liga' off;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 155.556% */
letter-spacing: -1.08px;
font-family: 'Raleway', sans-serif;
}

#welcome
{
  font-size: 32px;
  font-weight: 700;
}

#informed
{
  background-color: rgba(93, 128, 255, 0.2);
}

.lady-img{
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: -1;
}

.box-container
{
position: absolute;
left: 10%;
top: 120%;
}

.main-box
{
display: flex;
width: 1100px;
height: 1010px;
margin: 20px;
background: rgba(233, 233, 233, 0.29);
box-shadow: 0px 4px 69.8px -3px rgba(0, 0, 0, 0.25);
border-radius: 50px 0px 0px 50px;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 20px;
}

.box
{
margin: 20px;
width: 305px;
height: 249px;
background: #000000;
border-radius: 40px;
padding: 20px;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}

.box-head
{
  margin:10px;
color: #ffffff;
font-size: 38px;
font-style: normal;
font-weight: 700;
letter-spacing: 5.04px;
}

.line-4
{
width: 452.652px;
height: 2px;
background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 99.87%);
}

/* .box-para
{
margin: auto 0;
padding: 5px;
text-align:left;
width: 270.338px;
height: 94.568px;
color:#FFF;
font-family: Be Vietnam Pro;
font-size: 16px;
font-style: normal;
font-weight: 700;
letter-spacing: 1.58px;
} */

.box-para
{
margin: 10px;
text-align: left;
color: #ffffff;
font-family: Be Vietnam Pro;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 19.5px; /* 155.263% */
letter-spacing: 2.28px;
}