@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
}

.chat-container {
  display: flex;
  flex-direction: column-reverse; /* Reverse the order of the elements */
  margin-top: 10px; /* Adjust spacing as needed */
}
.search-bar input {
  width: 100%;
  padding: 12px 20px;
  margin: 16px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #FFF;
  /* background-image: url('search-icon.png'); Replace with your search icon */
  background-position: 10px 12px;
  background-repeat: no-repeat;
  padding-left: 40px; /* Adjust this based on your search icon's size */
}

.chat-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
 
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-image.right {
    margin: 0 auto;
}


.chat-details {
  flex-grow: 1;
  padding-right: 10px; 
}

.chat-details h4 {
  padding: 10px;
  margin: 10px;
  color: #333;
  font-weight: bold;
}

.chat-details p {
  padding: 10px;
  margin: 5px 0; 
  color: #999;
}

.chat-time {
  color: #999;
  font-size: 0.8rem;
}

/* Add the last child with no border */
.chat-item:last-child {
  border-bottom: none;
}

/* Style adjustments */
.chat-container, .search-bar input, .chat-item {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
}

.profile-image {
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.profile-name {
  color: #333;
  text-align: center;
  margin-top: 15px;
}
.icon-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

.icon img {
  width: 100%;
  height: auto;
}
.shared-files {
  margin-top: 30px;
}
.file {
  display: flex;
  align-items: center;
  border-top: 1px solid #e1e1e1;
  padding: 10px 0;
}
.file-icon {
  background-color: #e1e1e1;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.file-name {
  flex-grow: 1;
  color: #555;
}
.file-size {
  color: #999;
}

.chat-conversation {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1em; /* Add padding for better spacing */
}

.message {
max-width: 400px;
border-radius: 10px;
width:max-content;
height:max-content;
padding: 10px;
margin: 10px;
background: #2094FF;
color: rgba(255, 255, 255, 0.78);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
align-self: flex-end;
}

.prompt {
  max-width: 200px;
border-radius: 10px;
width:max-content;
height:max-content;
padding: 10px;
margin: 10px;
background: #377EC0;
color: rgba(255, 255, 255, 0.78);
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
align-self: flex-start;
}

.timeStamp{
  color: black;
}

.msg-timeStamp
{
  width: 88px;
  color: rgba(0, 0, 0, 0.32);
font-family: Be Vietnam;
font-size: 10px;
font-style: normal;
font-weight: 300;
line-height: normal;
align-self: flex-end;
}

.prompt-timeStamp
{
  width: 88px;
  color: rgba(0, 0, 0, 0.32);
font-family: Be Vietnam;
font-size: 10px;
font-style: normal;
font-weight: 300;
line-height: normal;
  align-self: flex-start; /* Align prompt to the right */
  
}
.app-container {
  display: flex;
  height: 100%;
}

.sidebar {
  /* Styles for the sidebar */
  width: 5%;
  background-color: #3f48cc;
}


.chat-header {
  padding: 1em;
  background-color: #ffffff; /* Set background color to white */
  display: flex;
  justify-content: flex-start; /* Align content to the left */
}



.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.user-name {
  color: #3366cc; /* Blue color for the name */
  font-weight: bold;
  font-size: 32px; /* Adjust font size as needed */
}

.prompt-box {
  display: flex;
  flex-direction: column-reverse; /* Reverse the order of the elements */
  margin-top: 10px; /* Adjust spacing as needed */
}


.user-status {
  color: #4caf50; /* Green color for the status */
  font-size: 18px; /* Adjust font size as needed */
}
.chat-list {
  /* Styles for the chat list */
  width: 30%;
  background: var(--Color, #FFF);
  padding: 1em;
}

.chats
{
  width: 89px;
  color: #000;
  font-family: 'Raleway', sans-serif;
font-size: 27px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.chat-screen {
  /* Styles for the chat list */
  width: 90%;
  background: var(--Color, #FFF);
  padding: 1em;
  
}

.chat-window {
  /* Styles for the chat window */
  width: 55%;
  background: #F9F9F9;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.info-panel {
  width: 30%;
  background-color: #f4f7fa;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.chat-header {
  background: #F9F9F9;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.chat-conversation {
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-input {
  /* Styles for the input area */
}

/* Add these styles for the new elements */
.input-container {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border-radius: 5px;
}

.input-container input
{
  border-radius: 8px;
background: var(--Color, #FFF);
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.attachment-icon {
  margin-right: 0.5em; /* Adjust spacing */
  cursor: pointer;
}

input {
  flex-grow: 1;
  padding: 0.5em;
  margin-right: 0.5em; /* Adjust spacing */
  border: none;
  border-radius: 3px;
  outline: none;
}

.send-button {
  background-color: #4F5DFC;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 14px;
}


.sidebar
{
    width: 89px;
    height: 100vh;
    background-color: #4F5DFC;
    /* border-radius: 20px; */
    /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    overflow:auto;
}

.justice-side-logo
{
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    list-style: none;
    padding: 0;
}

.link-list li {
    display: block;
    margin-bottom: 20px; 
}

.link-list li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: white; /* Text color */
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.link-list li a:hover {
    background-color:#4F5DFC; 
    transform: scale(1.05); 
    color: #ffffff; 
}

#chat-img
{
    border-radius: 10px;
    background-color: gray;
    padding: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#chat-img:hover {
    background-color: darkgray;
    transform: scale(1.05);
}

.query-btn
{
  margin: 10px;
  padding: 5px;
}

.query-btn button
{
  margin-top: 20px;
  margin: 10px;
  padding: 5px;
  margin-top: -10px;
  background-color: red;
  color: white;
  border: none;
}

.query-btn button a
{
  text-decoration: none;
  color: white;
}

#google-translate-element
{
  
}