* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(219, 226, 226);
    border: 1px Solid;
}

.row {
    height: 570px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 12px 12px 22px grey;
}


img {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.btn {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 2px;
    background-color: #3498db;
    border: 2px solid #3498db;
}
.btn:hover{
    background-color: white;
    color: black;
}

/* .btn1:hover {
    background-color: white;
    color: black;
    border: 1px solid;
} */

.img-fluid {
    height: 90%;
    width: 90%;
    margin-right: 5px;
    margin-top: 20px;
}
.dropbtn {
background-color: #4F5DFC;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;


}

/* The container <div> - needed to position the dropdown content */
.dropdown {
margin-top: 15px;
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
background-color: #407e5d;
}

#mobileError , #passwordError
{
margin-top: -10px;
color: red;
}

#passwordError
{
margin-bottom: 10px;
}

.signup-container {
text-align: center;

}

/* Styles for the message */
.message {
font-size: 18px;
margin-bottom: 20px;
}

/* Styles for the signup button */
.signup-button {
padding: 10px 20px;
font-size: 16px;
border: none;
border-radius: 5px;
background-color: #007bff; /* Change color as desired */
color: white;
cursor: pointer;
transition: background-color 0.3s ease;
}
.signup-button a
{
text-decoration: none;
color: white;
}
.signup-button:hover {
background-color: #0056b3; /* Change color as desired */
}