@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;@400;@500;@700;@800;@900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); */

*
{

    box-sizing: border-box;
}

/* body {
    background-image: url('./images/img1.jpg');
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative; 
    background-color: rgba(255, 255, 255, 0.3);;
} */

body
{
    margin: 0;
    padding: 0;
}

.container-wrap
{
 overflow: hidden;
  position: relative;
}

.img-bg
{
    /* background: linear-gradient(
        rgba(0, 0, 0, 0.1), 
        rgb(0, 0, 0 , 0.1)
      ); */
  /* opacity: 0.9; */
  /* filter: brightness(50%); */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.4); */
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgb(0, 0, 0 , 0.4)
      );
}

.content
{
    height: 500px;
    overflow: hidden;
    position: relative;
    /* margin-top: -10px; */

}

.navbar
{
    position: relative;
    /* height: 33vh; */
    margin: 15px;
    padding: 30px;
    display: flex;
    justify-content:space-evenly;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 15px;
}
.logo
{
    margin-top: 15px;
    margin-left: 20px;
}
.nav-links 
{
    display: flex;
    /* justify-content: space-around; */
    list-style: none;
    /* padding: 0; */
}

.nav-links li
{
    color: white;
    cursor: pointer;
    margin: 0 25px;
}

.nav-links a
{
    text-decoration: none;
    color: white;
}
.material-icons
{
    margin-left: -28px;
}
.material-icons.md-18
{
    font-size: 18px;
}

.nav-button
{
    margin-top: -25px;
}

.log-in-btn
{
    margin-top: 20px;
    margin-right: 50px;
    background-color: blue;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color: white;
}

.log-in-btn a
{
    text-decoration: none;
    color: white;
}

.material-icons.md-36
{
    font-size: 36px;
    margin: 5px;
    margin-right: 10px;
    margin-left: -50px;
}

.hero-content
{
    position: relative;
    height: 33vh;
    margin: 15px;
    padding: 50px;
    margin-left: 90px;
    margin-top: -80px;
}

.hero-content-header
{
    font-size: 25px;
    width: 500px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.Compilance
{
    color:#4F5DFC;
}
.hero-para1
{
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* .line
{
    width: 40px;
    background-color: blue;
    height: 10px;
} */
.hero-para2
{
    width: 480px;
    line-height: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.main-section
{

    display: flex;
    justify-content: space-between;
    /* margin: 20px; 
    padding: 20px;  */
    background-color: lightgray; 
}
.blocks
{
            height: max-content;
            flex: 1;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 60px; 
            margin-top: 50px;   
            border-radius: 10px;
            text-align: center;
}
#change-img
{
    margin-top: 130px;
}
.blocks.block1
{
    background-color: #83C4FF;
}
.blocks.block2
{
    background-color: #4F5DFC;
}
.blocks.block3
{
    background-color: #83C4FF;
}
.blocks-image
{
   border-radius: 50%;
    width: 170px;
    padding: 20px;
    margin: 20px;
}

.block-para
{
    width: 100%;
    height: 50%;
    /* background-color: aquamarine; */
    border-radius: 20px; 
    /* border:2px solid black; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  */
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.block-para-heading{
    margin-top: 130px;
    padding: 15px;
    margin: 15px;
    color: white;
    font-size: 25px;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.block-para-subpara
{   
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 5px; 
    margin-top: -20px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

#instant
{
    margin-top: -8px;
}

.footer
{
    display: flex;
        /* margin: 50px;
        padding: 50px; */
    background-color: #00008B;
}

/* Vector */
.footer-logo
{
position: absolute;
width: 226.6px;
height: 224px;
left: 209px;
top: 2131px;
background: #020741;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.part-one
{
    margin: 50px;
    padding: 50px;
}

.part-one svg{
    width: 126px;
    height: 224px;
}

.logo-down-text
{
    margin-top: -50px;
    font-size: 23px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.logo-down-text-two
{
    margin-top: -25px;
    margin-left: 40px;
    font-size: 8px;
    color: #D4D4D4;
    font-family: 'Raleway', sans-serif;
}

.footer-tagline
{
    margin-top: 30px;
    margin-left: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.social-links
{
    margin-top: 30px;
   display: flex;
   justify-content: space-between;
}

.social-links img{
    color: white;
}

.part-two
{  
    margin-top: 130px;
    margin-left: 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.part-two h3
{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
}

.part-two p
{
    /* display: block; */
    padding: 10px;
    font-weight: 200;
}


.part-three
{
    font-family: 'Raleway', sans-serif;
    margin-top: 130px;
    margin-left: 130px;
    color: white;
    
}

.part-three h3
{
    font-size: 25px;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.part-three p
{
    /* display: block; */
    padding: 10px;
    font-weight: 200;
}

.legal-header
{
    width: 100%;
    height: 20vh;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.legal-section
{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.legal-section-header
{
    display: flex;

}
.legal-section h1{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 10px;
    margin-top: 120px;
    margin-left: 50px;
    font-size: 60px;
}
.legal-section-img
{
    width: 130px;
    height: 130px;
    margin: 10px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 50%;
    /* background-color: gray; */
}

.legal-section-para
{
    margin: 20px;
    margin-left: 40px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    height: 30vh;
    letter-spacing: 2px;
}


.woman-para
{
    margin: 30px;
    padding: 30px;
}

.woman-para h2{
    font-family: 'Raleway', sans-serif;
}

.woman-para ul li
{
    padding: 5px;
    list-style-type: square;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}

.woman-para p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    padding: 10px;
    line-height: 25px;
}